@font-face {
    font-family: minhafonte;
    src: url(../fonts/ufontscomepisodei.woff);
}

.comportamento_linha{
  display: inline;
}

#logo{
  width:40px;
  height:40px;
}

header{
  font-family: minhafonte;
  text-align: center;
}

footer{
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: gray;
  color: #FFFFFF;
  text-align: center;
  width: 100%;
}

nav{
  float: left;
  margin-right: 30px;
  height: 250px;
}

ul li{
  list-style-type: none;
}
